
   body {
         margin: 0;
background-color: white;
    }
  
 .one {
       
 display: flex;

  
  align-items: center;
  height: 200px;
position: fixed;
top: 0;
  left: 0;
background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
width: 100%;
height: 15%;
text-align:
 font-size: 30;

color: white;
   

    }

.two {
       display: flex;
 margin-left: 65%;
 top: 2%;
justify-content: center;
  align-items: center;
  height: 200px;
  
position: fixed;
 width: 30%;
height: 3%;
background: white;

font-size: 25;
font-family: Courier;
       text-align: center;

       

       color: gray;
   }
.three {
       display: flex;
 margin-left: 4%;
 top: 2%;
justify-content: center;
  align-items: center;
  
  
position: fixed;
 

font-family: Courier;
font-size: 30;

       text-align: center;

       

       color: white;
   }
   .baroque {
       display: flex;
  
justify-content: center;
  align-items: center;
 


  background-image: url("baroque.jpg");
background-size: cover;
background-repeat: no repeat;
width: 100%;
 height: 100%;
font-family: Courier;
font-size: 90;

color: white;
}

.sq1 {
       display: flex;
  justify-content: center;
  align-items: center;
 

  background: rgba(0, 0, 0, 0.5);

width: 50%;
 height: 11%;
font-family: Courier;
font-size: 90;

color: white;
}
    .classicism {
       display: flex;
 

 justify-content: center;
  align-items: center;
 

  background-image: url("classicism.jpg");
background-size: cover;
background-repeat: no repeat;
width: 100%;
 height: 100%;
  font-family: Courier;
 font-size: 90;
color: white;
    }


 .romantism {
       display: flex;
 

 justify-content: center;
  align-items: center;
 

  background-image: url("romantism.jpg");
background-size: cover;
background-repeat: no repeat;
width: 100%;
 height: 100%;
  font-family: Courier;
 font-size: 90;
color: white;
    }

